
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Install Arch Linux
Comment=larchin, the larch / Arch installer
Categories=Application;
Exec=larchin.py
Icon=/opt/larchin/larchin1.jpg
Terminal=false
StartupNotify=true
GenericName=
