[GdmGreeterTheme]
Encoding=UTF-8
Greeter=gdm.xml
Name=archlinux-dlarch
Description=Archlinux GDM theme based on darch for slim by Gleidson Echeli.
Author=gradgrind
Copyright=(c) 2008 Michael Towers (GPL licensed). Archlinux is a recognized trademark.
Screenshot=preview.png
